<div class="movie-container">

  <!-- Movie Poster and Body -->

  <h2 class="text-light">{{ fields.title.content }}</h2>


  <div class="movie-info d-flex gap-3">
    <div class="movie-poster">
      {{ fields.field_movie_poster.content }}
    </div>
    <div class="movie-body">
    <p>{{ fields.body.content |  striptags | slice(0, 250) ~ '...'  }}</p>
    </div>
  </div>

  <!-- Additional Fields -->
  <div class="movie-details d-flex align-items-center gap-2 mt-3">
    <div class="cinema-address">
      {{ fields.field_cinema_address.content }}
    </div>
    <div class="buy-dvd">
      {{ fields.field_buy_dvd.content }}
    </div>
    <div class="imdb-url">
      {{ fields.field_imdb_url.content }}
    </div>
  </div>
</div>
